resume = true
trace.overwrite = true  
report.overwrite = true
timeline.overwrite = true

profiles {
  setonix {
    workDir = "/scratch/pawsey1157/modanilevicz/sugarcane/nxf_work"

    singularity {
      enabled = true
      envWhitelist = ['SINGULARITY_BINDPATH', 'SINGULARITYENV_LD_LIBRARY_PATH', 'SINGULARITYENV_LD_PRELOAD']
      cacheDir = "$MYSOFTWARE/.nextflow_singularity"
    }
    
    params {
      slurm_account = 'pawsey1157'
      sra_file = ''
    }

    process {
      cache = 'lenient'
      stageInMode = 'symlink'
      executor = 'slurm'
      clusterOptions = "--account=${params.slurm_account}"
      queue = 'work'
      cpus = 16
      time = '3h' 
      memory = '5GB' 
      errorStrategy = 'ignore' // prevents nextflow from killing all jobs when one fails
      
      withLabel: 'qualitychecks' {
        cpus = 36
        memory = '52GB'
      }
      
      withLabel: 'genome_align'{
        cpus = 128
        memory = '36GB'
        beforeScript = 'module load singularity/4.1.0-slurm'
        container = '/software/projects/pawsey1157/groupResources/sharedImages/hisat2_2.2.1--h503566f_8.sif'
      }

      withLabel: 'read_quant'{
        cpus = 128
        memory = '64GB'
        time = '12h'
        beforeScript = 'module load singularity/4.1.0-slurm'
        container = '/software/projects/pawsey1157/groupResources/sharedImages/stringtie:3.0.0--h29c0135_0.sif'
      }

      withName: 'downloadandConvertSRA' {
        cpus = 32
        memory = '110GB'
        time = '4h'
	queue = 'copy'
      }
      
      withName: 'samtools' {
        cpus = 32
        memory = '110GB'
        time = '6h'
        beforeScript = 'module load samtools/1.15--h3843a85_0'
	container = null // explicitly disable container usage
      }
    }
  }
}
    
